@using NewOPAL.Services
@using Microsoft.AspNetCore.Http;
@inject ITranslationService translationServiceModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessorModal
@{
    int? LanguageId = HttpContextAccessorModal.HttpContext.Session.GetInt32("language");

    if (LanguageId == null)
    {
        LanguageId = 1;
    }
}

<!--Modal: InfoModal-->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        @Html.AntiForgeryToken()
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document" id="ModalDialog">
            @* modal-notify modal-info *@
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center z-depth-2">
                    <i id="ModalIcon" class="fa-2x animated text-white"></i> 
                    <h4 class="text-white font-weight-bold p-1"><span id="Title"></span></h4>
                </div>
                <!--Body-->
                <div class="modal-body mt-4">
                    <h5 class="font-weight-bold" id="BodyTitle"></h5>
                    <p id="BodyContent" class=" d-flex justify-content-center align-items-center"></p>
                </div>
                <!--Footer-->
                <div class="modal-footer flex-center" id="ModalButtons">
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
<!--Modal: InfoModal-->
