$W-100: 100%;
$H-100: 100%;
$mobile: 800px;
$BottomColorOrange: rgba(255, 106, 0,0.7);
$TopColorOrange: rgba(248,247,206, 0.7);
$BottomColorDark: rgba(0, 0, 0, 0.8);
$TopColorDark: rgba(60, 60, 70, 0.75);
$deg45: 45deg;
$DarkModeActiveColor: #ff9800;
$Phone: 599px;
$TabletPortrait: 600px;
$TabletLandscape: 900px;
$Desktop: 1200px;
